# Ignore node_modules in the responsive-website directory
/responsive-website/node_modules/

# Ignore venv in the root directory
/venv/

# Ignore venv in the chatapp directory
/chatapp/venv/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment variables files
.env

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.bak
*.swp

# Ignore system-specific files
.DS_Store
Thumbs.db
